<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>AirportRTW89</string>
	<key>CFBundleIdentifier</key>
	<string>com.rtw.airport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirportRTW89</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.49</string>
	<key>CFBundleVersion</key>
	<string>0.5.49</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>Experimental Senmiko native IO80211 frontend. GPL-2.0 OR BSD-3-Clause</string>
	<key>OSBundleCompatibleVersion</key>
	<string>0.2.24</string>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>20.0.0</string>
		<key>com.apple.iokit.IO80211FamilyLegacy</key>
		<string>1200.0.0</string>
		<key>com.apple.iokit.IOSkywalkFamily</key>
		<string>1.0</string>
	</dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RTL8851BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0xB85110EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8851b</string>
			<key>RTW88FWName</key>
			<string>rtw8851b_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
		<key>RTL8852AE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0x885210EC 0xA85A10EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8852a</string>
			<key>RTW88FWName</key>
			<string>rtw8852a_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
		<key>RTL8852BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0xB85210EC 0xB85B10EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8852b</string>
			<key>RTW88FWName</key>
			<string>rtw8852b_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
		<key>RTL8852BTE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0xB52010EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8852bt</string>
			<key>RTW88FWName</key>
			<string>rtw8852bt_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
		<key>RTL8852CE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0xC85210EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8852c</string>
			<key>RTW88FWName</key>
			<string>rtw8852c_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
		<key>RTL8922AE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rtw.airport</string>
			<key>IOClass</key>
			<string>AirportRTW89</string>
			<key>IOPCIMatch</key>
			<string>0x892210EC 0x892B10EC</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RTW88ChipName</key>
			<string>rtw8922a</string>
			<key>RTW88FWName</key>
			<string>rtw8922a_fw.bin</string>
			<key>AirportRTW89Experimental</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
		</dict>
	</dict>
</dict>
</plist>
